.btn-success {
    background-color: maroon;
    border-color: black;
}

.btn-success:hover {
    background-color:  gold;
    border-color:  white;
}

body {
    background-image:  url('rocket_ship_earth.jpg');
    background-attachment: fixed;
    background-position: center;
    /*background-repeat: no-repeat;
    *background-size: cover;*/
    color:  white;
}

.container {
    background-color: black;
    border: solid;
    border-color: blue;
    padding: 20px;
}

.carousel {
    width: 80%;  /*86%*/
    margin:  auto;
    padding: 50px;
}

.d-block {
    margin:  auto;
}

.btn-info {
    background-color:  gold;
    border-color:  gold;
}

.btn-info:hover {
    background-color:  maroon;
    border-color:  maroon;
    color:  white
}


.btn-primary {
    background-color:  gold;
    border-color:  gold;
    color:  black;
}

.btn-primary:hover {
    background-color:  maroon;
    border-color:  maroon;
    color:  white;
}

.btn-outline-primary:hover {
    border-color:  white;
    background-color:  black;
    color:  white;
}